/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.navigationBar .container {
  background-image: url("black-tea-leaves.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
	padding-top: 930px;
}

.navigationBar a {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: lowercase;
  font-family: 'Helvetica Narrow', sans-serif;
  font-stretch: ultra-condensed;
  font-variant: small-caps;
  text-decoration: none;
}

.navigationBar li {
  display: inline;
}

.navigationBar ul {
	position: relative;
  padding-top: 10px;
  background-color: #121315;
  text-align: center;
  color: blue;
  height: 50px;
  width: 100%;
}


.sectAbout {
	width: 100%;
	height: 400px;
}

.sectAbout h3 {
	text-align: center;
  color: white;
	background-color: #121315;
	font-size: 60px;
  font-weight: bold;
	padding-top: 60px;
	font-family: 'Helvetica Narrow', sans-serif;
  font-stretch: ultra-condensed;
}

.sectAbout p {
	text-align: center;
	color: white;
	background-color: #121315;
	font-size: 20px;
	padding-top: 40px;
	padding-bottom: 120px;
	font-stretch: ultra-condensed;
	font-style: italic;
	font-family: 'Arial';
	line-height: 2em;
}

.sectMenu h3 {
	text-align: center;
  color: white;
	background-color: #121315;
	font-size: 60px;
  font-weight: bold;
	padding-top: 60px;
	font-family: 'Helvetica Narrow', sans-serif;
  font-stretch: ultra-condensed;
}

.sectMenu p {
	text-align: center;
	color: white;
	background-color: #121315;
	font-size: 20px;
	padding-top: 40px;
	padding-bottom: 1200px;
	font-stretch: ultra-condensed;
	font-style: italic;
	font-family: 'Arial';
	line-height: 2em;
}
